<div class="bg-light mb-5 p-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="display-4">HBS App</h1>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro cupiditate soluta odit
                    vitae, nemo rerum in adipisci repellendus debitis tempora exercitationem vero eum consequuntur odio
                    ducimus id doloremque excepturi delectus?</p>
                <a href="/about" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>
</div>