<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="/">HBS App</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarId"
        aria-controls="navbarId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarId">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item {{ iif title 'HBS App' 'active' }}">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {{ iif title 'About' 'active' }}">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item {{ iif title 'Products' 'active' }}">
                <a class="nav-link" href="/products">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ iif title 'Contact' 'active' }}" href="/contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>