<div class="row">
    <div class="col">
        <div class="row">
            <div class="col-sm-4">
                <div class="d-flex align-items-center justify-content-center h-100">
                    <img class="img-fluid rounded-circle" src="https://picsum.photos/id/237/300/300" alt="">
                </div>
            </div>
            <div class="col-sm-8">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit necessitatibus sapiente facilis.
                    Dolorum
                    tempore dignissimos vero similique aperiam animi tenetur, iste doloremque, reiciendis ducimus
                    voluptas
                    voluptatem quod incidunt ipsa autem optio quo, a doloribus atque eveniet assumenda? Accusamus
                    similique sit
                    ex, suscipit iste vel delectus nihil tempora laborum corrupti. Aspernatur quis, excepturi
                    eligendi dolore
                    quo velit et cumque earum tenetur aut deleniti repudiandae nemo perferendis veritatis. Quidem
                    unde enim ut
                    ad. Maiores, facere quia! Ipsam atque mollitia dolorem vitae eligendi consequuntur eos. Minima
                    aliquam
                    facilis voluptatem, cumque error velit illum reiciendis? Eos nemo quas consectetur, fugiat iste
                    soluta
                    tempore nisi explicabo expedita ab praesentium, earum voluptas accusantium dolorum repellat.
                    Maiores dolor
                    iure facilis, nobis perspiciatis aperiam ipsam ullam beatae nihil laudantium ex consectetur
                    architecto atque
                    qui obcaecati expedita quae adipisci deleniti omnis eveniet vitae illum eius! Officiis molestiae
                    dolore
                    omnis fugit! Inventore libero temporibus, sapiente sed id iure numquam doloremque earum fugiat
                    doloribus
                    dicta fuga? Rem, sint? Sed eius eaque animi odio.</p>
            </div>
        </div>
    </div>
</div>