<div class="row">
    <div class="col">
        <div class="row mt-4">
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="https://picsum.photos/id/237/200/150" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Lorem ipsum dolor sit amet.</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quam
                            sapiente magni asperiores vel, nobis voluptatem ab veritatis odio ut quis nesciunt
                            perspiciatis ipsa? Qui repellat consequuntur labore rem inventore.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="https://picsum.photos/id/268/200/150" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Lorem ipsum dolor sit amet.</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quam
                            sapiente magni asperiores vel, nobis voluptatem ab veritatis odio ut quis nesciunt
                            perspiciatis ipsa? Qui repellat consequuntur labore rem inventore.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="https://picsum.photos/id/250/200/150" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Lorem ipsum dolor sit amet.</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quam
                            sapiente magni asperiores vel, nobis voluptatem ab veritatis odio ut quis nesciunt
                            perspiciatis ipsa? Qui repellat consequuntur labore rem inventore.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>